@model List<RespromedicalMVC.Models.Product>
@{
    ViewBag.Title = "ProductsAtAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2 class="well text-center">Products</h2>
<h2 class="well text-center">
    <button class="btn btn-default" data-toggle="modal" data-target="#newCategory">Add new Product Category</button>
    <a href="/Admin/NewProduct" class="btn btn-default">Add new Product</a>
</h2>
<hr />

    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Users</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                </div>
            </div>
            <table class="table ">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="#" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Picture" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Name" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Description" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Number" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Date" disabled></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var v in Model)
                    {
                        <tr>
                            <td>@v.product_id</td>
                            <td> <image style="width:100px;height:100px" src=@v.path alt=""></td>
                            <td><b>@v.product_name</b></td>
                            <td>@v.product_description</td>
                            <td>@v.product_number</td>
                            <td>@v.modified_date</td>
                            <td>
                                <a href="/Admin/DeleteProduct/@v.product_id" class="btn btn-warning"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>




<div class="modal fade" id="newCategory">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add new Category</h4>
            </div>
            <form action="/Admin/AddNewCategory" method="post" role="form">
                <div class="modal-body">
                    <input type="text" class="input-lg" name="ProductCategoryName" placeholder="Category Name" />
                    <p>&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
